/* Global Styles */
:root {
  --orange-color: #e76f51;
  --orange-color-light: #e77c40;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 48px;
  font-weight: 600;
}
h2 {
  letter-spacing: 3px;
}
.btn-custom-style {
  background-color: var(--orange-color);
  font-weight: 500;
}
.orange {
  color: var(--orange-color);
}
.orange-light {
  color: var(--orange-color-light);
}
.bg-orange-light {
  background-color: var(--orange-color-light);
}
.custom-margin {
  margin-bottom: 120px;
}
.card-custom-style {
  padding: 40px 35px;
}
/* Header */
header {
  background-color: #264653;
}
/* Featured Bikes */
.custom-after::after {
  content: "";
  position: absolute;
  width: 220px;
  top: 150%;
  margin-left: 50%;
  transform: translate(-50%);
  display: block;
  height: 2px;
  background-color: lightgrey;
}
/* Featured Bikes >> Bikes Pictures */

.gray-scale {
  filter: grayscale(1);
}

/* Accordion */

.accordion-header-custom {
  font-weight: 500;
  color: #383838;
}
.accordion-button:not(.collapsed) {
  background: transparent;
  color: #383838;
}

/* Repair Your Bike */

.card-img-custom {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Newsletter */
.newsletter {
  height: 350px;
  background-color: var(--orange-color);
}
input[type="email"] {
  max-width: 600px;
}
.input-group > .form-control,
.input-group > .form-select {
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  .custom-margin {
    margin-bottom: 60px;
  }
}
